*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Open Sans", sans-serif;
}
.container{
    margin: 0 auto;
    width: 1370px;

}

ul,li,a{
    list-style-type: none;
    text-decoration: none;

}
.section1{
    background: #FFF8F3;
    display: flex;
}
.developerTxt{
    padding: 38px 23px;
}
.menu{
    display: flex;
    width:80%;
    justify-content:space-between;
    
    padding: 50px 70px 50px 65px;
}
.menuItems{
    display: flex;
    gap: 40px;
    color: black;
    align-items: center;

}
.menuItems ul li a{
    font-size: 20px;
    font-weight: 500;
    color: gray;
 
  

}
.btn{
  padding: 18px 35px;
    color: white;
    background: #FD6E0A;
    border-radius: 5px;

}

/* banner part start */
.bannerPart{

}

.bannerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.left{
    width: 50%;
    text-align: left; 
    padding: 130px 0px 200px 60px;
    
}
.left h3{
    font-size: 45px;
color: gray;


}
.left h1{
    font-size: 85px;
    width: 100%;



}
.left p{
    font-size: 18px;
    line-height: 40px;
    color: gray;
    padding: 10px 0;
    padding-bottom: 20px;



}
.buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;

}
.buttons i{
    padding-top: 4px;

   

}
.left .buttons .btn{
    display: flex;
    gap: 10px;
    padding: 15px 20px;
    align-items: center;
}
.left .buttons .btn:hover{
    background: white;
color: #FD6E0A ;
border:1px solid #FD6E0A;

}

.right{
    width: 100%;

  width: 584px;
    height:675px;
    background-position: center;

    margin-right: 170px;
   
  
   
}

/* section2 start */

.mainElement{
    background: #FFF8F3;
    width: 1140px;
    height: 550px;
    border-radius: 20px;
    margin: 130px auto;

}
.text{
    padding: 130px 140px;
    text-align: center;
}
.text h3{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
}
.text p{
    padding:30px 0px;
    text-align: center;
    font-size: 18px;
    color: #757575;
    line-height:30px;
}
.contactDetails{
    display: flex;
    justify-content: center;
    gap: 70px;

}
.contactDetails h6{
        color: #757575;
        font-size: 20px;
        line-height: 30px;

  
}
.contactDetails h4{
        color: #474646;
        font-size: 20px;
        line-height: 30px;

  
}
/* section 3 start */

.main{
    padding: 0px 130px 130px 130px;
    text-align: center;
    margin: 0 auto;
}
.main h3{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 30px;
}
.main p{
    font-size: 18px;
    
    color: #757575;
    padding-bottom: 30px;
    text-align: center;
    

    
}
#paragraph{
    width: 80%;
    margin: 0 auto;
}

.cards{
    width: 100%;
    margin: 0 auto;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 20px;
  
    
 
 
    
    text-align: left;

}
.cards .card{
  
     border-radius: 10px;
 width: 267px;
  height: 350px;
    padding: 30px;
    width: 600px;
    box-shadow: 0px 6px 50px  rgba(0,0,0,0.3);

}
.cards .card h5{
    font-size: 20px;
    padding: 20px 0px;
}
.cards .card p{
    font-size: 16px;
    line-height: 24px;
    text-align: left;

    
}
/* section 4 stard */
.section4 .btn{
    margin: 0 auto;
    width: 200px;
    height: 65px;
    margin-top: 40px;
    margin-bottom: 130px;
    

}
.section4 h2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}
.resumeTitle{
    margin-top: 111px;
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 350px;
    font-weight: bold;
    color: #141313;
    justify-content: center;
    margin-right: 290px;



}
.resumeBox{
    display: flex;
    flex-wrap: wrap;
  
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.box{
    width: 511px;
    height: 175px;
    border-bottom: 1px solid rgb(219, 216, 216);
    gap: 60px;
    margin: 20px;

}
.box p{
    padding: 20px 0px;
    color: #757575;

}
.box h4{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #474646;

}
.box h3{
    font-size: 25px;
    font-weight: bold;
    color: #474747;

}

/* footer  */
.container1{
    background: #FFF8F3;
    width: 100%;
    border-radius: 20px;
    margin: 0 auto;
    padding: 150px;
    display: flex;
    gap: 200px;
   


}
.footerLeft{
        width: 50%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-bottom:300px ;
}
.footerLeft h3{
    font-size: 35px;
    font-weight: bold;
    color: #141313;
 
}
.footerLeft p{
   font-size: 18px;
   line-height: 28px;

}
.footerRight form {
    display:flex;
    width: 100%;

    flex-direction: column;
    justify-content: center;
    gap:20px;
}  
.footerRight  {

    width: 50%;

    
}  
.footerRight h3{
  font-size: 35px;
  font-weight: bold;
  color: #141313;
  padding-bottom: 20px;

}  
.footerRight {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;

}  
.footerRight form input{
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    border: none;

    width: 100%;
    

  
}
.footerRight form textarea {
  width: 100%;
  height: 150px;   
  
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  resize: none;    
  font-size: 16px;
  outline: none;
  background: white;
}



#footerBtn{
    width:150px ;
    height: 60px;
    margin-top: 30px;
}
 